<div class="container m-3">
  <p style="color: green"> <%= notice %> </p>

  <%= form_with url: import_trends_path, method: :post do |form| %>
    <%= form.file_field :file, accept: ".csv" %>
    <%= form.button "import" %>
  <% end %>
</div>

<h1 style="text-align: center">
  Trends count:
  <%= @trends.count %>
</h1>

<%= render 'trend' %>
